<div class="container my-5">
    <form>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" aria-describedby="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="lastName">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="email">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phonel</label>
            <input type="tel" class="form-control" id="phone" aria-describedby="phone">
          </div>

       
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>
