
<div class="container">
  <button type="button" class="btn btn-primary" routerLink='/peoplelist'>Back</button>
  <h1> Register</h1>
  <hr>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-row">
      <div class="form-group col">
      <label for="firstName">First Name:</label>
      <input class="form-control" type="text" name="firstName" id="firstName" formControlName="firstName">
      <div *ngIf="firstName.touched && firstName.invalid">
          <small class="text-danger" *ngIf="firstName.errors.required">First Name is required</small>
          <small class="text-danger" *ngIf="firstName.errors.pattern">Invalid First Name</small>
          <small class="text-danger" *ngIf="firstName.errors.minlength">First Name must contain two caracters at least?</small>
      </div> 
      <label for="lastName">Last Name:</label>
      <input class="form-control" type="text" name="lastName" id="lastName"  formControlName="lastName">
       <div *ngIf="lastName.touched && lastName.invalid">
          <small class="text-danger" *ngIf="lastName.errors.required">Last Name is required</small>
          <small class="text-danger" *ngIf="lastName.errors.pattern">Invalid Last Name</small>
          <small class="text-danger"  *ngIf="lastName.errors.minlength">Last Name must contain two caracters at least?</small>
      </div> 
      <label for="phone">Phone:</label>
      <input class="form-control" type="tel" name="phone" id="phone"  formControlName="phone">
      <div *ngIf="phone.touched && phone.invalid && phone.dirty">
      <small class="text-danger" *ngIf="phone.errors.required">phone is required</small>
      <small class="text-danger" *ngIf="phone.errors.pattern">phone is Number</small>
      <small class="text-danger" *ngIf="phone.errors.minlength">phone must contain  eight number ?</small>
      <small class="text-danger"  *ngIf="phone.errors.maxlength">phone must contain  eight number ?</small>
      </div> 
      <label for="email">Email:</label>
      <input class="form-control" type="text" name="email" id="email"  formControlName="email">
       <div *ngIf="email.touched && email.invalid">
      <small class="text-danger" *ngIf="email.errors.required">email is required</small>
      <small class="text-danger" *ngIf="email.errors.email">Format Email Invalid</small>
      </div> 
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        <div *ngIf="password.touched && password.invalid && password.dirty">
          <small class="text-danger" *ngIf="password.errors.required">passwor is required</small>
          <small class="text-danger" *ngIf="password.errors.pattern">Invalid Password</small>
          <small class="text-danger" *ngIf="password.errors.minlength">password must contain six number ?</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Repassword</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="repassword">
        <div *ngIf="repassword.touched && repassword.invalid">
          <small class="text-danger" *ngIf="repassword.errors.required">Repeat password is required please</small>
         
        </div>
        <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
          The password entered do not match
        </div>
      </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
      <input type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || repassword.value != password.value"  value="update User">
  </div>
  </div>
  </form>
</div>